In [1]:
import pandas as pd
import regex as re

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 30)

In [2]:
sandy = pd.read_csv('./CrisisLexT6/2012_Sandy_Hurricane/2012_Sandy_Hurricane-ontopic_offtopic.csv')
oklahoma = pd.read_csv('./CrisisLexT6/2013_Oklahoma_Tornado/2013_Oklahoma_Tornado-ontopic_offtopic.csv')
abflood = pd.read_csv('./CrisisLexT6/2013_Alberta_Floods/2013_Alberta_Floods-ontopic_offtopic.csv')
qlflood = pd.read_csv('./CrisisLexT6/2013_Queensland_Floods/2013_Queensland_Floods-ontopic_offtopic.csv')

sandy.columns = sandy.columns.str.strip()
oklahoma.columns = oklahoma.columns.str.strip()
abflood.columns = abflood.columns.str.strip()
qlflood.columns = qlflood.columns.str.strip()

In [3]:
sandy['label'] = sandy['label'].map({'off-topic': 0, 'on-topic': 1})
oklahoma['label'] = oklahoma['label'].map({'off-topic': 0, 'on-topic': 1})
abflood['label'] = abflood['label'].map({'off-topic': 0, 'on-topic': 1})
qlflood['label'] = qlflood['label'].map({'off-topic': 0, 'on-topic': 1})

In [4]:
sandy.head()

,tweet id,tweet,label
0,'262596552399396864',I've got enough candles to supply a Mexican fa...,0
1,'263044104500420609',Sandy be soooo mad that she be shattering our ...,1
2,'263309629973491712',@ibexgirl thankfully Hurricane Waugh played it...,0
3,'263422851133079552',@taos you never got that magnificent case of B...,0
4,'262404311223504896',"I'm at Mad River Bar &amp; Grille (New York, N...",0

In [5]:
oklahoma.head()

,tweet id,tweet,label
0,'336908711324962817',@HeatleyJheat44 its barley even raining where ...,1
1,'337052158035890176',Sorry I can't do anything right.,0
2,'339338021751103488',@mrwendell29: @BradSowderWX says we have the ...,1
3,'336339509077762051',#honestyhour I like to wear half split running...,0
4,'337734129972035584',I'm too stressed to have a good summer,0

In [6]:
abflood.head()

,tweet id,tweet,label
0,'348351442404376578',@Jay1972Jay Nope. Mid 80's. It's off Metallica...,0
1,'348167215536803841',Nothing like a :16 second downpour to give us ...,0
2,'348644655786778624',@NelsonTagoona so glad that you missed the flo...,1
3,'350519668815036416',"Party hard , suns down , still warm , lovin li...",0
4,'351446519733432320',@Exclusionzone if you compare yourself to wate...,0

In [7]:
sandy['tweet'][0]

"I've got enough candles to supply a Mexican family"

In [8]:
# remove '&amp;'
sandy['tweet'] = sandy.tweet.str.replace('&amp;', '').str.strip()
oklahoma['tweet'] = oklahoma.tweet.str.replace('&amp;', '').str.strip()
abflood['tweet'] = abflood.tweet.str.replace('&amp;', '').str.strip()
qlflood['tweet'] = qlflood.tweet.str.replace('&amp;', '').str.strip()

# remove links
sandy['tweet'] = sandy.tweet.map(lambda x: re.sub('http[s]?:\/\/[^\s]*', ' ', x))
oklahoma['tweet'] = oklahoma.tweet.map(lambda x: re.sub('http[s]?:\/\/[^\s]*', ' ', x))
abflood['tweet'] = abflood.tweet.map(lambda x: re.sub('http[s]?:\/\/[^\s]*', ' ', x))
qlflood['tweet'] = qlflood.tweet.map(lambda x: re.sub('http[s]?:\/\/[^\s]*', ' ', x))

# remove keep letters on only
sandy['tweet'] = sandy.tweet.map(lambda x: re.sub('[^a-zA-Z0-9]', ' ', x))
oklahoma['tweet'] = oklahoma.tweet.map(lambda x: re.sub('[^a-zA-Z0-9]', ' ', x))
abflood['tweet'] = abflood.tweet.map(lambda x: re.sub('[^a-zA-Z0-9]', ' ', x))
qlflood['tweet'] = qlflood.tweet.map(lambda x: re.sub('[^a-zA-Z0-9]', ' ', x))

# make all text lowercase
sandy['tweet'] = sandy.tweet.map(lambda x: x.lower())
oklahoma['tweet'] = oklahoma.tweet.map(lambda x: x.lower())
abflood['tweet'] = abflood.tweet.map(lambda x: x.lower())
qlflood['tweet'] = qlflood.tweet.map(lambda x: x.lower())

# remove all 'rt'
# sandy['tweet'] = sandy.tweet.str.replace('rt', '').str.strip()
# oklahoma['tweet'] = oklahoma.tweet.str.replace('rt', '').str.strip()
# abflood['tweet'] = abflood.tweet.str.replace('rt', '').str.strip()
# qlflood['tweet'] = qlflood.tweet.str.replace('rt', '').str.strip()

In [9]:
sandy.head()

,tweet id,tweet,label
0,'262596552399396864',i ve got enough candles to supply a mexican fa...,0
1,'263044104500420609',sandy be soooo mad that she be shattering our ...,1
2,'263309629973491712',ibexgirl thankfully hurricane waugh played it...,0
3,'263422851133079552',taos you never got that magnificent case of b...,0
4,'262404311223504896',i m at mad river bar grille new york ny,0

In [10]:
sandy['disaster'] = 'hurricane'
oklahoma['disaster'] = 'tornado'
abflood['disaster'] = 'flood'
qlflood['disaster'] = 'flood'

In [11]:
sandy.head()

,tweet id,tweet,label,disaster
0,'262596552399396864',i ve got enough candles to supply a mexican fa...,0,hurricane
1,'263044104500420609',sandy be soooo mad that she be shattering our ...,1,hurricane
2,'263309629973491712',ibexgirl thankfully hurricane waugh played it...,0,hurricane
3,'263422851133079552',taos you never got that magnificent case of b...,0,hurricane
4,'262404311223504896',i m at mad river bar grille new york ny,0,hurricane

In [12]:
oklahoma.head()

,tweet id,tweet,label,disaster
0,'336908711324962817',heatleyjheat44 its barley even raining where ...,1,tornado
1,'337052158035890176',sorry i can t do anything right,0,tornado
2,'339338021751103488',mrwendell29 bradsowderwx says we have the ...,1,tornado
3,'336339509077762051',honestyhour i like to wear half split running...,0,tornado
4,'337734129972035584',i m too stressed to have a good summer,0,tornado

In [13]:
abflood.head()

,tweet id,tweet,label,disaster
0,'348351442404376578',jay1972jay nope mid 80 s it s off metallica...,0,flood
1,'348167215536803841',nothing like a 16 second downpour to give us ...,0,flood
2,'348644655786778624',nelsontagoona so glad that you missed the flo...,1,flood
3,'350519668815036416',party hard suns down still warm lovin li...,0,flood
4,'351446519733432320',exclusionzone if you compare yourself to wate...,0,flood

In [14]:
qlflood.head()

,tweet id,tweet,label,disaster
0,'296728042179534848',marksdobson i always thought that big lad ai...,0,flood
1,'296085045645570048',thamonstar a lot of water moving around and a...,1,flood
2,'296811076400603136',craig thompson to be extradited to victoria on...,0,flood
3,'295357934387486720',sunshine state sort your shit out,0,flood
4,'296390762210398210',markphilippi yeah i saw it he s a wanker pa...,0,flood

In [15]:
sandy.shape

(10008, 4)

In [16]:
qlflood.shape

(10033, 4)

In [17]:
abflood.shape

(10031, 4)

In [18]:
oklahoma.shape

(9992, 4)

In [19]:
sandy.rename(columns = ({'tweet id': 'id'}), inplace = True)
oklahoma.rename(columns = ({'tweet id': 'id'}), inplace = True)
abflood.rename(columns = ({'tweet id': 'id'}), inplace = True)
qlflood.rename(columns = ({'tweet id': 'id'}), inplace = True)

In [20]:
sandy.to_csv('./data/sandy_clean_binary.csv', index = False)
oklahoma.to_csv('./data/oklahoma_clean_binary.csv', index = False)
abflood.to_csv('./data/abflood_clean_binary.csv', index = False)
qlflood.to_csv('./data/qlflood_clean_binary.csv', index = False)

In [21]:
df = pd.concat([sandy, oklahoma, abflood, qlflood], ignore_index = True)

In [22]:
df.head()

,id,tweet,label,disaster
0,'262596552399396864',i ve got enough candles to supply a mexican fa...,0,hurricane
1,'263044104500420609',sandy be soooo mad that she be shattering our ...,1,hurricane
2,'263309629973491712',ibexgirl thankfully hurricane waugh played it...,0,hurricane
3,'263422851133079552',taos you never got that magnificent case of b...,0,hurricane
4,'262404311223504896',i m at mad river bar grille new york ny,0,hurricane

In [23]:
df.shape

(40064, 4)

In [24]:
df.rename(columns = ({'tweet id': 'id'}), inplace = True)

In [25]:
df.to_csv('./data/combined.csv', index = False)