# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

College Board the maker of the SAT would like to increase participation in a state. They would like to know the state that has the best chance for an impact.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports:
import pandas as pd
import numpy as np
# import matplotlib.plyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
!pwd

/Users/russell/dsi/Submissions/Projects/Project_1/code

In [3]:
#Code:read csv to variable
sat = pd.read_csv('../data/sat_2017.csv')

In [4]:
act = pd.read_csv('../data/act_2017.csv')

In [5]:
act_2017 = pd.read_csv('../data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [6]:
#Code:print first 10 rows of csvs.
sat.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [7]:
#Code:print first 10 rows of csvs.
act.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer:somecells are too low or are objects and should be floats

#### 4a. Does the data look complete?

Answer: Missing columns from the ACT 2018 data set

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer:

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [8]:
#code replace Maryland math score of 52 with 524
sat['Math'].replace(52, 524, inplace = True)

In [9]:
#replace WY Composite score with 20.2
act['Composite'].replace('20.2x', 20.2, inplace = True)

#### 5. What are your data types? 
Display the data types of each feature.

In [10]:
print(sat.dtypes)
print(act.dtypes)

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object
State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer: Both Participations are showing as an object should be an int. ACT Composite should be a float.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [11]:
#from https://stackoverflow.com/questions/39173813/pandas-convert-dtype-object-to-int
# sat['Participation'].str.replace('%', '', inplace = True)
def change_part_to_int(data):
    try:
        data['Participation'] = data['Participation'].str.strip('%')
    except:
        pass
    data['Participation'] = data['Participation'].astype(int)
    return

In [12]:
act.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

In [13]:
change_part_to_int(act)

In [14]:
change_part_to_int(sat)

In [15]:
print(act.dtypes)
print(sat.dtypes)

State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object
State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

- Fix any individual values preventing other columns from being the appropriate type.

In [16]:
#code
act['Composite'] = act['Composite'].astype(float)

- Finish your data modifications by making sure the columns are now typed appropriately.

In [17]:
#code
act.dtypes

State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

- Display the data types again to confirm they are correct.

In [18]:
#Code:
print(act.dtypes)
print(sat.dtypes)

State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object
State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [19]:
#Change act column names and lower case them. from intro-to-pandas-starter-code
act.columns = ['State','act_2017_Participation', 'act_2017_English',
              'act_2017_Math', 'act_2017_Reading', 'act_2017_Science', 'act_2017_Composite']
act.columns = act.columns.str.lower()

In [20]:
sat.columns = ['State', 'sat_2017_Participation', 
               'sat_2017_Evidence-Based Reading_and_Writing','sat_2017_Math',
               'sat_2017_Total']
sat.columns = sat.columns.str.lower()
sat.head()

,state,sat_2017_participation,sat_2017_evidence-based reading_and_writing,sat_2017_math,sat_2017_total
0,Alabama,5,593,572,1165
1,Alaska,38,547,533,1080
2,Arizona,30,563,553,1116
3,Arkansas,3,614,594,1208
4,California,53,531,524,1055

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
state|object|ACT/SAT|US State and DC
act_2017_participation|int64|2017 ACT|Precentage of high school students taking the ACT in 2017 by state
act_2017_english|float64|2017 ACT|Average ACT english score by state
act_2017_math|float64|2017 ACT|Average ACT math score by state
act_2017_reading|float64|2017 ACT|Average ACT reading score by state
act_2017_science|float64|2017 ACT|Average ACT science score by state
act_2017_composite|float64|2017 ACT|Average ACT composite score by state
sat_2017_participation|int64|2017 SAT|Precentage of high school students taking the SAT in 2017 by state
sat_2017_evidence-based reading_and_writing|int64|2017 SAT|Average SAT state evidence-based reading and writing score by state
sat_2017_math|int64|2017 SAT|Average SAT math score by state
sat_2017_total|int64|2017 SAT|Average SAT total score by state
act_2018_participation|int64|2018 ACT|Precentage of high school students taking the ACT in 2018 by state
act_2018_composite|float64|2018 ACT|Average ACT composite score by state
sat_2018_participation|int64|2018 SAT|Precentage of high school students taking the SAT in 2018 by state
sat_2018_evidence-based reading_and_writing|int64|2018 SAT|Average SAT state evidence-based reading and writing score by state
sat_2018_math|int64|2018 SAT|Average SAT math score by state
sat_2018_total|int64|2018 SAT|Average SAT total score by state

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [21]:
#Drop national stats from ACT 2017 commented out to prevent error https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
act.drop([0], inplace = True)
act.head()

,state,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
1,Alabama,100,18.9,18.4,19.7,19.4,19.2
2,Alaska,65,18.7,19.8,20.4,19.9,19.8
3,Arizona,62,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100,18.9,19.0,19.7,19.5,19.4
5,California,31,22.5,22.7,23.1,22.2,22.8

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [22]:
#Code: Join 2017 ACT and SAT dataframes on state
# https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/
combined_17 = pd.merge(act, sat, on = 'state')

In [23]:
combined_17.head()

,state,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite,sat_2017_participation,sat_2017_evidence-based reading_and_writing,sat_2017_math,sat_2017_total
0,Alabama,100,18.9,18.4,19.7,19.4,19.2,5,593,572,1165
1,Alaska,65,18.7,19.8,20.4,19.9,19.8,38,547,533,1080
2,Arizona,62,18.6,19.8,20.1,19.8,19.7,30,563,553,1116
3,Arkansas,100,18.9,19.0,19.7,19.5,19.4,3,614,594,1208
4,California,31,22.5,22.7,23.1,22.2,22.8,53,531,524,1055

In [24]:
combined_17.dtypes

state                                           object
act_2017_participation                           int64
act_2017_english                               float64
act_2017_math                                  float64
act_2017_reading                               float64
act_2017_science                               float64
act_2017_composite                             float64
sat_2017_participation                           int64
sat_2017_evidence-based reading_and_writing      int64
sat_2017_math                                    int64
sat_2017_total                                   int64
dtype: object

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [25]:
#code Export
combined_17.to_csv('../data/combined_2017.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [26]:
act_18 = pd.read_csv('../data/act_2018.csv')

In [27]:
sat_18 = pd.read_csv('../data/sat_2018.csv')

In [28]:
sat_18.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [29]:
act_18.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [30]:
sat_18.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [31]:
act_18.dtypes

State             object
Participation     object
Composite        float64
dtype: object

In [32]:
change_part_to_int(sat_18)

In [33]:
change_part_to_int(act_18)

In [34]:
act_18.head()

        State  Participation  Composite
0     Alabama            100       19.1
1      Alaska             33       20.8
2     Arizona             66       19.2
3    Arkansas            100       19.4
4  California             27       22.7

In [35]:
sat_18.dtypes

State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [36]:
act_18.drop([19], inplace = True)

In [37]:
sat_18.columns = ['State', 'sat_2018_Participation', 
               'sat_2018_Evidence-Based Reading_and_Writing','sat_2018_Math',
               'sat_2018_Total']
sat_18.columns = sat_18.columns.str.lower()
sat_18.head()

,state,sat_2018_participation,sat_2018_evidence-based reading_and_writing,sat_2018_math,sat_2018_total
0,Alabama,6,595,571,1166
1,Alaska,43,562,544,1106
2,Arizona,29,577,572,1149
3,Arkansas,5,592,576,1169
4,California,60,540,536,1076

In [38]:
#Change act column names and lower case them. from intro-to-pandas-starter-code
act_18.columns = ['State','ACT_2018_Participation', 'ACT_2018_Composite']
act_18.columns = act_18.columns.str.lower()
act_18.head()

        state  act_2018_participation  act_2018_composite
0     Alabama                     100                19.1
1      Alaska                      33                20.8
2     Arizona                      66                19.2
3    Arkansas                     100                19.4
4  California                      27                22.7

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [39]:
combined_18 = pd.merge(act_18, sat_18, on = 'state')

In [40]:
final = pd.merge(combined_17, combined_18, on = 'state')

In [41]:
final.dtypes

state                                           object
act_2017_participation                           int64
act_2017_english                               float64
act_2017_math                                  float64
act_2017_reading                               float64
act_2017_science                               float64
act_2017_composite                             float64
sat_2017_participation                           int64
sat_2017_evidence-based reading_and_writing      int64
sat_2017_math                                    int64
sat_2017_total                                   int64
act_2018_participation                           int64
act_2018_composite                             float64
sat_2018_participation                           int64
sat_2018_evidence-based reading_and_writing      int64
sat_2018_math                                    int64
sat_2018_total                                   int64
dtype: object

In [42]:
#code Export
final.to_csv('../data/final.csv')

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [43]:
#Code:
final.describe()

,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite,sat_2017_participation,sat_2017_evidence-based reading_and_writing,sat_2017_math,sat_2017_total,act_2018_participation,act_2018_composite,sat_2018_participation,sat_2018_evidence-based reading_and_writing,sat_2018_math,sat_2018_total
count,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,65.920000,20.862000,21.13600,21.956000,20.992000,21.466000,38.600000,570.860000,558.660000,1129.620000,62.320000,21.454000,44.820000,565.020000,557.760000,1122.880000
std,32.110676,2.324307,1.97399,2.046317,3.195139,2.004241,34.560211,44.385146,45.839832,89.913085,34.114118,2.111312,37.097604,47.010416,46.987432,92.845634
min,8.000000,16.300000,18.00000,18.100000,2.300000,17.800000,2.000000,503.000000,492.000000,996.000000,7.000000,17.700000,2.000000,480.000000,486.000000,998.000000
25%,31.000000,19.000000,19.40000,20.425000,19.900000,19.800000,4.000000,535.250000,524.000000,1057.000000,27.750000,19.925000,4.250000,535.000000,524.250000,1062.250000
50%,71.000000,20.550000,20.90000,21.700000,21.100000,21.400000,34.000000,559.500000,549.500000,1107.500000,66.000000,21.050000,50.000000,552.000000,545.500000,1098.500000
75%,100.000000,23.100000,23.00000,23.875000,22.275000,23.400000,65.000000,613.500000,601.000000,1214.000000,100.000000,23.650000,74.500000,612.750000,594.250000,1207.000000
max,100.000000,25.500000,25.30000,26.000000,24.900000,25.500000,100.000000,644.000000,651.000000,1295.000000,100.000000,25.600000,100.000000,643.000000,655.000000,1298.000000

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [44]:
#https://codereview.stackexchange.com/questions/9222/calculating-population-standard-deviation/60931

from math import sqrt

def mean(df):
    sum = 0
    for i in range(len(df)):
        sum += df[i]
    return (sum / len(df))

def sd(df):
    sum = 0
    avg = mean(df)
    for i in range(len(df)):
        sum += pow((df[i]-avg),2)
    return sqrt(sum/len(df)-1)

In [48]:
sd(final['sat_2017_math'])

45.36809892424411

In [50]:
#from micheal 
# add Standard Deviation
col = final.columns

dic = {col[x]: sd(final[col[x]]) for x in range (1, len(col))}

In [51]:
dic

{'act_2017_participation': 31.772214275999087,
 'act_2017_english': 2.0722827992337334,
 'act_2017_math': 1.6788996396449676,
 'act_2017_reading': 1.7617218849750376,
 'act_2017_science': 3.0007892295194605,
 'act_2017_composite': 1.7136639110397351,
 'sat_2017_participation': 34.198245569034675,
 'sat_2017_evidence-based reading_and_writing': 43.92767237175218,
 'sat_2017_math': 45.36809892424411,
 'sat_2017_total': 89.00379542468961,
 'act_2018_participation': 33.75644531048848,
 'act_2018_composite': 1.8353430197104839,
 'sat_2018_participation': 36.71113727467457,
 'sat_2018_evidence-based reading_and_writing': 46.52719204938119,
 'sat_2018_math': 46.50443419718168,
 'sat_2018_total': 91.9070486959515}

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:
final.describe()

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
final.head(1)

In [ ]:
sat_par = final[['state', 'sat_2017_participation', 'sat_2018_participation']]
sat_par.loc[(sat_par['sat_2017_participation'] == 100) | (sat_par['sat_2018_participation'] == 100)]

In [ ]:
sat_par_17 = final[['state', 'sat_2017_participation', 'sat_2017_total']]
sat_par_17_list = sat_par_17.sort_values(by='sat_2017_participation', ascending=False).head(5)
sat_par_17_list.append(sat_par_17.sort_values(by='sat_2017_participation', ascending=False).tail(5))

In [ ]:
sat_par_18 = final[['state', 'sat_2018_participation', 'sat_2018_total']]
sat_par_18_list = sat_par_18.sort_values(by='sat_2018_participation', ascending=False).head(5)
sat_par_18_list.append(sat_par_18.sort_values(by='sat_2018_participation', ascending=False).tail(5))

In [ ]:
act_par_17 = final[['state', 'act_2017_participation', 'act_2017_composite']]
act_par_17_list = act_par_17.sort_values(by='act_2017_participation', ascending=False).head(5)
act_par_17_list.append(act_par_17.sort_values(by='act_2017_participation', ascending=False).tail(5))

In [ ]:
act_par_18 = final[['state', 'act_2018_participation', 'act_2018_composite']]
act_par_18_list = act_par_18.sort_values(by='act_2018_participation', ascending=False).head(5)
act_par_18_list.append(act_par_18.sort_values(by='act_2018_participation', ascending=False).tail(5))

In [ ]:
sat_total_17 = final[['state', 'sat_2017_total', 'sat_2017_participation']]
sat_total_17_list = sat_total_17.sort_values(by='sat_2017_total', ascending=False).head(5)
sat_total_17_list.append(sat_total_17.sort_values(by='sat_2017_total', ascending=False).tail(5))

In [ ]:
sat_total_18 = final[['state', 'sat_2018_total', 'sat_2018_participation']]
sat_total_18_list = sat_total_18.sort_values(by='sat_2018_total', ascending=False).head(5)
sat_total_18_list.append(sat_total_18.sort_values(by='sat_2018_total', ascending=False).tail(5))

In [ ]:
act_total_17 = final[['state', 'act_2017_composite', 'act_2017_participation']]
act_total_17_list = act_total_17.sort_values(by='act_2017_composite', ascending=False).head(5)
act_total_17_list.append(act_total_17.sort_values(by='act_2017_composite', ascending=False).tail(5))

In [ ]:
act_total_18 = final[['state', 'act_2018_composite', 'act_2018_participation']]
act_total_18_list = act_total_18.sort_values(by='act_2018_composite', ascending=False).head(5)
act_total_18_list.append(act_total_18.sort_values(by='act_2018_composite', ascending=False).tail(5))

In [ ]:
sat_par = final[['state', 'sat_2017_participation', 'sat_2018_participation', 'sat_2017_total', 'sat_2018_total']]
sat_par.loc[(sat_par['sat_2017_participation'] == 100) & (sat_par['sat_2018_participation'] != 100) 
| (sat_par['sat_2018_participation'] == 100) & (sat_par['sat_2017_participation'] != 100)]

In [ ]:
act_par = final[['state', 'act_2017_participation', 'act_2018_participation', 'act_2017_composite', 'act_2018_composite']]
act_par.loc[(act_par['act_2017_participation'] == 100) & (act_par['act_2018_participation'] != 100) |
(act_par['act_2018_participation'] == 100) & (act_par['act_2017_participation'] != 100)]

In [ ]:
sat_par = final[['state', 'sat_2017_participation', 'sat_2018_participation']]
sat_par.loc[(sat_par['sat_2017_participation'] < 50) & (sat_par['sat_2018_participation'] < 50)]

In [ ]:
act_par = final[['state', 'act_2017_participation', 'act_2018_participation']]
act_par.loc[(act_par['act_2017_participation'] < 50) & (act_par['act_2018_participation'] < 50)]

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

In [ ]:

filter_final = final[['state', 'act_2017_participation', 'act_2018_participation',  
'act_2017_composite', 'act_2018_composite', 'sat_2017_participation', 'sat_2018_participation',
'sat_2017_total', 'sat_2018_total']]
sns.heatmap(filter_final.corr())

In [ ]:
fig = plt.figure(figsize=(10,10))
mask = np.triu(np.ones_like(filter_final.corr()))
column_order = filter_final.corr().sort_values('act_2017_participation', ascending=False).index
ax = sns.heatmap(filter_final[column_order].corr(), annot=True, annot_kws={'size':15}, mask=mask, cmap='coolwarm')
ax.set_title("ACT and SAT", fontsize=20)
ax.tick_params(axis='x', labelsize=15, labelrotation=90)
ax.tick_params(axis='y', labelsize=15, labelrotation=0)
y_min, y_max = ax.get_ylim()
x_min, x_max = ax.get_xlim();

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
#     figure = plt.figure(figsize=(10,10))
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2, figsize = (10,10)) # You'll want to specify your figsize
# plt.figure(figsize=(10,10))
#     ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
#     nrows = int(np.ceil(len(list_of_columns)/2) # Makes sure you have enough rows
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
subplot_histograms(final, ['sat_2017_participation', 'sat_2018_participation'], ['2017', '2018'], ['axis1', 'axis2'])

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
final.head(1)

In [ ]:
# Code
sns.scatterplot(x="act_2017_math", y="sat_2017_math", data=final)

In [ ]:
sns.scatterplot(x="act_2017_reading", y="sat_2017_evidence-based reading_and_writing", data=final)

In [ ]:
sns.scatterplot(x="act_2017_composite", y="sat_2017_total", data=final)

In [ ]:
sns.scatterplot(x="sat_2017_total", y="sat_2018_total", data=final)

In [ ]:
sns.scatterplot(x="act_2017_composite", y="act_2018_composite", data=final)

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# help from Bruno
ax = sns.boxplot(data= [final["sat_2018_total"], [final['sat_2017_total']]], orient= 'h')

In [ ]:
ax = sns.boxplot(data= [final["act_2018_composite"], [final['act_2017_composite']]], orient= 'h')

In [ ]:
ax = sns.boxplot(data= [final["sat_2018_participation"], final['sat_2017_participation'], 
final['act_2017_participation'],final['act_2017_participation']], orient='h')

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
#filter states with low sat rates and high act rates
comb_par = final[['state', 'sat_2017_participation', 'sat_2018_participation', 'act_2017_participation',
'act_2018_participation']]
comb_par.loc[(comb_par['sat_2017_participation'] < 50) & (comb_par['act_2018_participation'] > 50)]

In [ ]:
#TN population
tn_pop_18 = 6_770_010 * .224
tn_pop_year = tn_pop_18 /18
print(tn_pop_year)
tn_sat_par= tn_pop_year *(1-0.06)
print(tn_sat_par)
# tn_sat_par_10 = (((6_770_010 * 1.067) * .224)/18) * (1-0.06)
# print(tn_sat_par_10)
tn_sat_par*1.067

In [ ]:
az_pop_18 = 7_171_646 * .233
az_pop_year = az_pop_18 /18
print(az_pop_year)
az_sat_par= az_pop_year *(1-0.29)
print(az_sat_par)
az_sat_par*1.122

In [ ]:
#https://stackoverflow.com/questions/46504721/dual-plotting-x-axis-via-seaborn
fig, ax = plt.subplots()
plt.title("ACT Participation Rate vs Scores")
ax2 = ax.twinx()
sns.regplot(x="act_2017_participation", y="act_2017_composite", data=final, order=2, ax=ax)
sns.regplot(x="act_2018_participation", y="act_2018_composite", data=final, order=2, ax=ax2)


ax2.legend(handles=[a.lines[0] for a in [ax,ax2]], 
           labels=["2017", "2018"])
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (10,10))
plt.title("SAT Participation Rate vs Scores")
plt.xlabel('SAT participation')
ax2 = ax.twinx()
sns.regplot(x="sat_2017_participation", y="sat_2017_total", data=final, order=2, ax=ax)
sns.regplot(x="sat_2018_participation", y="sat_2018_total", data=final, order=2, ax=ax2)
ax.set_xlabel('common xlabel')
ax.set_ylabel('common ylabel')
ax2.set_xlabel('')
ax2.set_ylabel('')

ax2.legend(handles=[a.lines[0] for a in [ax,ax2]], 
           labels=["2017", "2018"])
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize =(10,10))
plt.title("ACT Participation Rate vs SAT Participation", fontsize = 20)
ax2 = ax.twinx()
sns.regplot(x="act_2017_participation", y="sat_2017_participation", data=final, order=2, ax=ax)
sns.regplot(x="act_2018_participation", y="sat_2018_participation", data=final, order=2, ax=ax2)
ax.set_xlabel('ACT Partictpation Rate as Percentage', fontsize = 15)
ax.set_ylabel('SAT Partictpation Rate as Percentage', fontsize =15)
ax2.set_xlabel('')
ax2.set_ylabel('')
ax.set_xlim([0,100])
ax.set_ylim([0,100])
ax2.set_ylim([0,100])
ax2.legend(handles=[a.lines[0] for a in [ax,ax2]], 
labels=["2017 Participation", "2018 Participation"])
plt.show()

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

In [ ]:

final.agg(['mean', 'median'])

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers: Most scores are normally distributed

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer: It's usually impossible to measure the entire population.

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:No the tests are different.

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
from scipy.stats import ttest_ind
ttest_ind(final.act_2017_participation, final.act_2018_participation, equal_var=False)

In [ ]:
ttest_ind(final.sat_2017_participation, final.sat_2018_participation, equal_var=False)

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

In [ ]:
#AZ, TN, NM

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?

BySAT and ACT participation are inversely correlated. By looking at states that have low SAT participation rates and have a high population, I was able to narrow a range of target states. Also by looking at the legal requirements	of those states. Arizona is the best choice to pursue spending money to increase participation. They have already have an option to replace standardized testing with the SAT or ACT, their current program is not inline with federal law and the could lose up to 340 million dollars if they do not comply. This is a good time to try to convince the state that they should replace standardized testing for juniors with the SAT.